
.icon-phone-outline:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
